*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  margin: 0 auto;
}

ul,li{
  list-style: none;
}

.renderList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item{
  border:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 20px;
}
.item h2{
  font-size: 14px;
  text-align: center;
}

.item p{
  margin-top:5px;
}
.list-btn{
  padding: 10px 30px;
  cursor: pointer;
   
}